
/* Normalize.css is used to reset the css */
/* manual css reset * html and body  */
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* This will force all the components to inherit box-sizing property  */
}

html{
  /* Default font size of the browser is 16px */
  //1 rem = 10/16 = 62.5%;
  font-size: 62.5% ;  /* using rem applies the padding and according to the font-size so always define font sizes in rems*/
  /* We are allowing the user to zoom in and out of the page by changing the font-size of the browser and adjusting our font-size accordingly*/

  @include respond (tab-land){ //width < 1200?
    font-size: 56.25%; //1 rem = 9px 9/16 = 56.25%
  }

  @include respond (tab-port){ //width < 900?
    font-size: 50%; //1rem = 8px = 8/16 = 50%
  }

  @include respond (big-desktop){
    font-size: 75%; //1 rem = 9px 12/16 = 75%
  }
}

body{
  box-sizing: border-box; /* borders and paddings are not added to the total width or total height that we specify for box-model*/
  /* The widths and heights that we specify it gets applied to everything including the padding */
  /* padding: 3rem; */

  @include respond(tab-port){
    padding: 0;
  }
}
