body{
  font-family: 'Lato', sans-serif;/* font related properties go here as they are inherited from the body */
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; /* 1.7 times bigger than the previously defined line height */
  color: $color-grey-dark;
  /* padding: 3rem; */
  /* padding-bottom: 0; */
}

.heading-primary{
  color: $color-white;
  text-transform: uppercase;
  /* shaky effect is gone because of it  */
  backface-visibility: hidden; /* entire element moves on animation and is shaky. This property defines that back part of the element when we transform it is visible or hidden to the user*/
  margin-bottom: 6rem;

  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft; /* name of the keyframes should match here. */
    animation-duration: 1s;  /* for how many time you want the animation to happen. */
    animation-timing-function: ease-out; /* faster and then slower */

    /* animation-iteration-count: infinite;  /* how many times you want your animation to happen*/
    /* animation-delay: 3s; /* after how much time you want to start the animation */
  }

  &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.74rem;
    font-weight: 700;

    animation: moveInRight 1s ease-out; /* name duration and timing-function*/
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text; //clips the color to the places where there is a color
  color: transparent; //if we do not do it transparent then it will sit on the gradient
  letter-spacing: .2rem;
  transition: all 0.2s;

  &:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    //x y blur text shadow gives a shadow to the text
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph{
  font-size: $default-font-size;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}
