
.header{
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/hero-small.jpg');
  background-size: cover; /* always tries to fit the image in the viewport height */
  background-position: top; /* keeps the top as it is and crops the bottom of the image. */
  position: relative; /* gives an origin for the absolute position*/

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* used to give irregular shapes in the webpage. REFERENCE: CLIPPY TOOL*/
    height: 95vh;
  }

  //safari doesnt support dpi so you need to use the px only
  // There are different types of media queries...
  //1. most used is screen control media query
  //2. media queries can be used to control the images as well
  //192dpi is the resolution of apple retina screen (High resolution)
  //dpi is the concept of having pixels on phones... 1x or 2x multiply your pixels accordingly.
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em)
         (min-width: 125em){
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/hero.jpg');
  }

  @include respond(tab-port){
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }

  @include respond(phone){
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
  }


  &__logo{
    height: 3.5rem; /*width is taken care by the browser*/
  }

  &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
